body { padding-top:20px; padding-bottom:20px }
.avatar-name { padding:10px }
.navbar { margin-bottom:20px }
.note-editor .note-dialog .form-group.row-fluid.note-group-select-from-files { display:none }
.popover.podium { display:block !important; width:auto !important; max-width:none !important; position:relative !important; z-index:auto !important }
.popover.right.podium > .arrow { display: none; }
.popover.right.podium > .arrow:after { border-right-color:rgba(52,55,60,0.8); }
.podium-action-bar { position:absolute; bottom:10px; right:10px; display:none }
.podium-action-bar.list-inline > li { padding-right:1px; padding-left:1px }
.podium-content { padding-bottom:17px }
.podium-content:hover .podium-action-bar { display:block }
.podium-footer { margin-top:10px; max-height:125px; overflow-y:hidden }
.podium-footer hr { margin-bottom:5px }
.podium-go-to-new { display:none }
.podium-gradient {}
.podium-poll { margin-bottom:20px }
.podium-poll label { font-weight:normal }
.podium-post { margin-bottom:5px }
.podium-post .podium-content img { display:block; max-width:100%; height:auto }
.podium-post blockquote { font-size:inherit !important; border-left:5px solid #337ab7; background-color:#eee; padding:3px 3px 3px 10px !important }
.podium-post blockquote a.btn { background-color:#fff; text-decoration:none }
.podium-thread-line:hover .podium-go-to-new { display:inline }
.podium-pagination { margin-left:10px }
.ql-align-center { text-align:center }
.ql-align-right { text-align:right }
.ql-align-justify { text-align:justify }
.ql-size-small { font-size:0.75em }
.ql-size-large { font-size:1.5em }
.ql-size-large { font-size:1.5em }
.ql-size-huge { font-size:2.5em }
.ql-snow .ql-editor pre.ql-syntax { background-color:inherit; color:inherit }
@media (max-width: 767px) { .podium-avatar { display:none !important }}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] { background-color: #d9edf7 !important }
@-moz-document url-prefix() { fieldset { display: table-cell }}
#button-search-submit {
    height: 35px;
    border-top: 1px solid rgb(60, 67, 76);
    border-right: 1px solid rgb(60, 67, 76);
    border-bottom: 1px solid rgb(60, 67, 76);
}
#forum-container {}
#forum-container .child-forums {margin-top: 3px;}
#forum-container .child-forums > [class^="col-"]{margin-top: 5px;}
#forum-container .child-forums a.child-forum-link {
    position: relative;
    top: -1px;
}
#forum-container .child-forums > table.table {border-bottom: 1px solid rgba(52,55,60,0.8);}
#forum-container .panel {
    background-color: inherit;
    border-radius: 0px;
    border-color: rgba(52,55,60,0.8);
}
#forum-container .panel-default .panel-heading,
#forum-container .panel-default .panel-footer {
    background-color: inherit;
    border-color: rgba(52,55,60,0.8);
    color: #C5C0C0;
}
#forum-container .panel-default .panel-heading {border-bottom-color: #C5C0C0;}
#forum-container .popover-title,
#forum-container .popover {
    background-color: inherit;
    border-color: rgba(52,55,60,0.8);
}
#forum-container .panel-default .panel-body {background-color: inherit;}
#forum-container .table > thead > tr > th,
#forum-container .table > tbody > tr > th,
#forum-container .table > tfoot > tr > th,
#forum-container .table > thead > tr > td,
#forum-container .table > tbody > tr > td,
#forum-container .table > tbody + tbody,
#forum-container .table > tfoot > tr > td {
    border-color: rgba(52,55,60,0.8);
}
#forum-container .panel-info > .panel-heading {
    color: #C5C0C0;
    background-color: #23262d;
    border-color: rgba(52,55,60,0.8);
}
#forum-container .alert-preview {
    color: #C5C0C0;
    background-color: #23262d;
    border-color: rgba(52,55,60,0.8);
}
#forum-container .alert-preview hr {border-top-color: rgba(52,55,60,0.8);}
#forum-container .table-striped > tbody > tr {
    background-color: #23262d;
    border-top: 1px solid rgba(52,55,60,0.8);
    border-bottom: 1px solid rgba(52,55,60,0.8);
}
#forum-container .table-striped > tbody > tr:hover:not(.no-hover) {background-color: #1f2021ba;}
#forum-container .table-striped > tbody > tr > td:first-child {border-left: 1px solid rgba(52,55,60,0.8);}
#forum-container .table-striped > tbody > tr > td.text-right {position: relative;}
#forum-container .panel-title > a,
#forum-container .panel-title > small > a,
#forum-container .panel-title > .small > a {
    color: #36BBA6;
}
#forum-container .category_header {position: relative;}
#forum-container .category_header:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: -1px;
    top: 0px;
    background-color: #a94442;
}
#forum-search-form {margin-top: 5px;}
#forum-search-form input, #forum-search-form button {height: 23px;}
#forum-search-form input {padding: 2px 10px;}
#forum-search-form button {padding: 2px 15px;}
#forum-container .table-striped > tbody > tr > td:last-child:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgba(52,55,60,0.8);
}
@media (max-width: 767px) {
    #forum-container .child-forums .child-forum {margin-left: 15px;}
    #forum-container .forum-perm-inline li:not(:first-child) {margin-top: 10px;}
}