#ladder-container {}
#ladder-container .ladder-list {}
#ladder-container .ladder-list.flat {}
#ladder-container .ladder-list .ladder-header,
#ladder-team-container .ladder-team-header {
    border-bottom: 1px solid rgba(52,55,60,0.8);
    padding: 5px 0px 10px;
}
#ladder-container .ladder-list .ladder-list-items,
#ladder-team-container .ladder-team-members {
    padding: 0px 0px 5px;
}
#ladder-container .ladder-list .ladder-list-items .ladder-list-item,
#ladder-team-container .ladder-team-members .ladder-team-member {
    padding: 10px 0px;
}
#ladder-container .ladder-list .ladder-list-items .ladder-list-item:hover,
#ladder-team-container .ladder-team-members .ladder-team-member:hover {
    background-color: #30353b;
}
#ladder-container .ladder-list .ladder-list-items .ladder-list-item,
#ladder-team-container .ladder-team-members .ladder-team-member {
    border-bottom: 1px solid rgba(52,55,60,0.8);
}
